* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.body-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
.logo-pic img {
  height: 50px;
  width: 180px;
}
.logo-pic {
}
#sec-1 {
  border-bottom: 1px solid lightgray;
}
.nav-bar {
  width: 85%;
  margin: 0 auto;
  padding: 2%;
  background-color: white;
}

.dropbtn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 5px;
  font-size: 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content-tech {
  position: absolute;
  display: none;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 27px;
  left: -750px;
  width: 1280px;
  height: 590px;
}
.dropdown-content-about {
  position: absolute;
  display: none;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 27px;
  left: -890px;
  width: 1280px;
  height: 580px;
}
.dropbtn:hover {
  color: red;
}

.dropdown-content-tech a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-tech a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content-tech {
  display: block;
}
.dropdown-content-about a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-about a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content-about {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
}
.nav-list {
  float: right;
  position: relative;
  top: -65px;
  right: 0px;
  padding: 2%;
}
.nav-list li a {
  text-decoration: none;
  color: black;
}

.nav-list li {
  display: block;
  padding: 5px;
  display: inline-block;
}
#hire-us a {
  color: red;
  font-size: 20px;
  font-weight: bolder;
}
.nav-list a:hover {
  color: red;
}

.container-1 {
  display: flex;
}
.container-1-img {
}
.container-1-img img {
  height: 580px;
  width: 500px;
  top: 46px;
  position: absolute;
  z-index: -1;
}
.pic-bg-gray {
  background-color: #9c95a1;
  position: absolute;
  height: 64%;
  width: 40%;
  z-index: -2;
  top: 198px;
  border-radius: 20px;
  left: -11px;
}
.container-1-text {
  position: absolute;
  width: 50%;
  right: 50px;
}
#red {
  color: red;
}
.container-1-text h1 {
  font-size: 55px;
  padding: 5%;
  margin-top: 30px;
}
.container-1-text p {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: #342d42;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 35px;
  margin-left: 40px;
}
.container-1-text p::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 25px;
  background: #918b9c;
  left: 0;
}
.buttons {
  display: flex;
  width: 70%;
  margin-left: 50px;
}
.buttons a {
  text-decoration: none;
}
.container-1-btn1 {
  width: 215px;
  text-align: center;
  display: inline-block;
  padding: 2%;
  background-color: red;
  margin: auto;
  border-radius: 5px;
  height: 45px;
  box-shadow: 1px solid gray;
  margin-top: 20px;
  color: white;
  font-size: 20px;

  box-shadow: 2px 2px 4px rgba(78, 66, 104, 0.25);
}
.container-1-btn2 {
  width: 215px;
  text-align: center;
  display: inline-block;
  padding: 2%;
  background-color: white;
  margin: auto;
  border-radius: 5px;
  height: 45px;
  box-shadow: 1px solid gray;
  margin-top: 20px;
  color: red;
  box-shadow: 2px 2px 4px rgba(78, 66, 104, 0.25);
  font-size: 20px;
}
#sec-3 {
  position: absolute;
  top: 100%;
  width: 90%;
}
.our-clients-heading {
  margin-left: 100px;
}
.our-clients-heading h1 {
  padding: 2%;
  margin-left: 20px;
  font-size: 40px;
}
.slider {
  width: 50%;
  margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  transition: all ease-in-out 0.3s;
  opacity: 0.2;
}

.slick-active {
  opacity: 0.5;
}

.slick-current {
  opacity: 1;
}

.slider-img {
  width: 1000px;
}
.slider-img img {
  width: 100px;
}

#sec-4 {
  position: absolute;
  top: 160%;
}
.skills-container {
}
.skill-1 {
  display: flex;
}
.skill-1-text {
  width: 50%;
  padding: 4%;
}
.skill-1-text h1 {
  font-size: 40px;
}
.skill-1-text p {
  font-size: 20px;
}
.skilll-1-img {
  text-align: right;
}

.skilll-1-img img {
  width: 50%;
}

.skill-1-front img {
  position: absolute;
  top: -69px;
  height: 339px;
  width: 569px;
  right: 44px;
}
.skill-1-back img {
  width: 508px;
  position: absolute;
  right: 0px;
  z-index: -1;
}

.skill-2 {
  display: flex;
  margin-top: 250px;
  flex-direction: row-reverse;
}
.skill-2-text {
  width: 50%;
  padding: 4%;
}
.skill-2-text h1 {
  font-size: 40px;
}
.skill-2-text p {
  font-size: 20px;
}
.skilll-2-img {
  text-align: right;
}

.skilll-2-img img {
  width: 50%;
}

.skill-2-front img {
  position: absolute;
  top: 583px;
  height: 490px;
  width: 285px;
  left: 245px;
}
.skill-2-back img {
  width: 508px;
  position: absolute;
  left: 0px;
  z-index: -1;
}
.skill-2-front-2 img {
  position: absolute;
  top: 347px;
  height: 490px;
  width: 280px;
  left: 3px;
}

.skill-3 {
  display: flex;

  margin-top: 315px;
}
.skill-3-text {
  width: 50%;
  padding: 4%;
}
.skill-3-text h1 {
  font-size: 40px;
}
.skill-3-text p {
  font-size: 20px;
}
.skilll-3-img {
  text-align: right;
}

.skilll-3-img img {
  width: 50%;
}

.skill-3-front img {
  position: absolute;
  top: 1025px;
  height: 359px;
  width: 505px;
  right: 47px;
}
.skill-3-back img {
  width: 508px;
  position: absolute;
  right: 0px;
  z-index: -1;
}

.skill-4 {
  display: flex;
  margin-top: 250px;
  flex-direction: row-reverse;
}
.skill-4-text {
  width: 50%;
  padding: 4%;
}
.skill-4-text h1 {
  font-size: 40px;
}
.skill-4-text p {
  font-size: 20px;
}
.skilll-4-img {
  text-align: right;
}

.skilll-4-img img {
  width: 50%;
}

.skill-4-front svg {
  position: absolute;
  top: 1595px;
  height: 490px;
  width: 521px;
  left: 96px;
}
.skill-4-back img {
  width: 508px;
  position: absolute;
  left: 0px;
  z-index: -1;
}

.skill-5 {
  display: flex;

  margin-top: 315px;
}
.skill-5-text {
  width: 50%;
  padding: 4%;
}
.skill-5-text h1 {
  font-size: 40px;
}
.skill-5-text p {
  font-size: 20px;
}
.skilll-5-img {
  text-align: right;
}

.skilll-5-img {
  width: 50%;
}

.skill-5-front img {
  position: absolute;
  top: 2137px;
  height: 348px;
  width: 463px;
  right: 47px;
}
.skill-5-back img {
  width: 508px;
  position: absolute;
  right: 0px;
  z-index: -1;
}
#sec-5 {
  position: absolute;
  top: 560%;
  width: 100%;
}

.tech-head h1 {
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 61px;
  text-transform: capitalize;
  position: relative;
  line-height: 36px;
  margin-left: 30px;
}

.tech-head {
  width: 80%;
  margin: auto;
}
#tech-span {
  position: absolute;
  left: 0px;
  bottom: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 146px;
  line-height: 108px;
  text-transform: capitalize;
  color: #dadde5;
  font-family: "Red Hat Display", sans-serif;
  z-index: -1;
}
.tech-grid {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  widows: 80%;
  transition: all 0.3s;
  margin: auto;
  max-width: 90%;
}
.tech-item {
  max-width: 25%;
  width: 15%;
  margin: 5%;
  /* flex: 0 0 25%; */
  justify-content: center;
  display: flex;
  transition: all 0.3s;
}
.tech-item:hover {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;

  border-radius: 20px;
  transition: all 0.3s;

  box-shadow: 2px 2px 4px rgba(78, 66, 104, 0.25);
}
.tech-img {
  display: flex;
  text-align: center;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  margin: 5%;
}

.tech-img:hover .img-c {
  justify-content: center;
  display: unset;
}
.tech-img:hover .img-b {
  justify-content: center;
  display: none;
}

.img-b:hover .img-b {
  display: none;
}

.img-c {
  max-height: 100px;
  max-width: 100px;
  transition: all 0.3s;
  display: none;
}
.img-c:hover {
}

.img-b {
  max-height: 100px;
  max-width: 100px;
  transition: all 0.3s;
}

.lines-bg img {
  height: 80%;
  width: 80%;
}
#sec-6 {
  position: absolute;
  top: 700%;
  width: 100%;
}
.baloon-img {
}
.baloon-img img {
  width: 550px;
  position: absolute;
  right: 0px;
  z-index: -1;
}
.baloon-container {
}
.baloon img {
  position: absolute;
  top: -170px;
  width: 34%;
  right: 0px;
}
.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.baloon-text {
  padding: 6%;
  width: 50%;
}
.baloon-text h1 {
  font-size: 35px;
}
.baloon-text p {
  font-size: 20px;
}
.baloon-button a {
  background: #fd7076;
  box-shadow: 2px 2px 4px rgba(253, 112, 118, 0.3);
  border-radius: 4px;
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
  padding: 13px 30px;
  display: inline-block;
  text-decoration: none;
}
.baloon-button {
  margin-left: 135px;
}
#sec-7 {
  position: absolute;
  top: 780%;
  width: 100%;
}
.projects-head h1 {
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 61px;
  text-transform: capitalize;
  position: relative;
  line-height: 36px;
  margin-left: 30px;
}

.projects-head {
  width: 80%;
  margin: auto;
}
#projects-span {
  position: absolute;
  left: 0px;
  bottom: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 146px;
  line-height: 108px;
  text-transform: capitalize;
  color: #dadde5;
  font-family: "Red Hat Display", sans-serif;
  z-index: -1;
}

.slider-bg img {
  height: 250px;
  width: 500px;
}
.slider-bg {
  position: absolute;
  top: 140px;
  left: 130px;
}

.mobile img {
  height: 443px;
  width: 256px;
  margin: auto;
}
#sec-8 {
  position: absolute;
  top: 900%;
  width: 100%;
}
.awards-head h1 {
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 61px;
  text-transform: capitalize;
  position: relative;
  line-height: 36px;
  margin-left: 30px;
}

.awards-head {
  width: 80%;
  margin: auto;
}
#awards-span {
  position: absolute;
  left: 0px;
  bottom: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 146px;
  line-height: 108px;
  text-transform: capitalize;
  color: #dadde5;
  font-family: "Red Hat Display", sans-serif;
  z-index: -1;
}

.logo-grid {
  display: flex;
  margin: auto;
  width: 85%;
  text-align: center;
  margin-top: 50px;
  flex-wrap: wrap;
}
.logo-item {
  width: 15%;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;

  border-radius: 20px;
  transition: all 0.3s;
  margin-left: 10px;
  margin-right: 8px;
  box-shadow: 2px 2px 4px rgba(78, 66, 104, 0.25);
  padding: 1%;
}
.logo-img img {
  height: 100px;
  width: 100px;
}

.test-head h1 {
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 61px;
  text-transform: capitalize;
  position: relative;
  line-height: 36px;
  margin-left: 30px;
}

.test-head {
  width: 80%;
  margin: auto;
}
#test-span {
  position: absolute;
  left: 0px;
  bottom: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 146px;
  line-height: 108px;
  text-transform: capitalize;
  color: #dadde5;
  font-family: "Red Hat Display", sans-serif;
  z-index: -1;
}
#sec-9 {
  position: absolute;
  width: 100%;
  top: 980%;
}
.people img {
  height: 100px;
  width: 100px;
  border-radius: 15px;

  box-shadow: 10px 10px 15px rgba(78, 66, 104, 0.25);
}

.team-head h1 {
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 61px;
  text-transform: capitalize;
  position: relative;
  line-height: 36px;
  margin-left: 30px;
}

.team-head {
  width: 80%;
  margin: auto;
}
#team-span {
  position: absolute;
  left: 0px;
  bottom: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 146px;
  line-height: 108px;
  text-transform: capitalize;
  color: #dadde5;
  font-family: "Red Hat Display", sans-serif;
  z-index: -1;
}
#sec-10 {
  position: absolute;
  width: 100%;
  top: 1080%;
}
#sec-11 {
  position: absolute;
  width: 100%;
  top: 1180%;

  background-color: whitesmoke;
}

.office-head {
  padding: 10%;

  margin-top: 100px;
}
.office-head h1 {
  font-size: 45px;
}
.office-head p {
  font-size: 20px;
}
.office-container {
  display: flex;
}
#sec-12 {
  position: absolute;
  width: 100%;
  top: 1300%;
}
.details-container {
  display: flex;
}
.lets-talk-details {
  padding: 1%;
  max-width: 50%;
  float: right;
  margin-top: 100px;
}
.lets-talk-details h1 {
  color: tomato;
  font-size: 35px;
  padding: 5%;
}

.lets-talk-details p {
  padding: 5%;
  font-size: 20px;
}
.contact-details h1 {
  color: black;
  font-size: 35px;
  padding: 5%;
}
#sec-13 {
  position: absolute;
  width: 100%;
  top: 1430%;
}

footer {
  background-color: #332b68;
  height: 450px;
  display: flex;
}
.footer-logo img {
  height: 100px;
  width: 250px;
}
.ls-img img {
  width: 50px;
  height: 50px;
  padding: 3%;
}
.ls-img {
  padding: 1%;
}
.lock-star {
  display: flex;
  margin-top: 28px;
}

.footer-static h1 {
  color: white;

  margin-top: 28px;
}
.lock-star p {
  color: white;
  padding: 1%;

  margin-top: 8px;
}
.footer-static {
  padding: 6%;
}
.cpy-rit p {
  color: white;
  margin-top: 20px;
}
.links-head h1 {
  color: white;
  font-size: 45px;
}
.links-list ul {
  list-style: none;
}

.links-list li {
  color: white;
  text-decoration: none;

  margin-top: 20px;
}
.links-head {
}

.footer-links {
  padding: 6%;
}
.footer-follow {
  padding: 6%;
}

.follow-head h1 {
  color: white;
  font-size: 45px;
}

.follow-list ul {
  list-style: none;
}

.follow-list li {
  color: white;
  text-decoration: none;

  margin-top: 15px;
}
.follow-logo {
  display: flex;
}
.follow-logo img {
  height: 30px;
  width: 30px;
  margin-right: 14px;
}
.lets-talk-form {
  margin-top: 100px;
  padding: 6%;
}
